/* general format */
:root {
    --offwhite: #fffbf5;
    --yello: #fff0cd;
    ---bloo: #d3edf1;
    --sand: #d3b29e;
    background-color: var(--sand);
}
.spec-title {
    font-size: xx-large;
}

.spec-desc {}

.spec-teaser {
    font-style: italic;
}

.spec-cast {
    margin-left: 20px;
}

.spec-ogdev {
    margin-left: 20px;
}

.spec-age {
    color: darkgreen;
}

.spec-status {
    margin-left: 20px;
}

.info-line {
    display: inline;
}

.spec-what {
    font-weight: 600;
    margin-right: 5px;

}

.spec-when {
    font-style: italic;
}

.spec-where {
    margin-right: 5px;
}

.spec-people {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.spec-person {}

.ques {
    margin-left: 20px;
}

.spec-header {
    text-align: left;
}

.columns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.spec-photos {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: start;
    margin: 10px;
    padding: 0 10px;
}

.cover-photo {
    margin-top: 20px;
     height: 300px;
            width: 300px;
}

.prod-pic{
height: 100%;
width: 100%;
}

.project-left{
    width: 35%;
    margin: 20px;
    padding: 15px;
}

.project-right{
    width: 55%;
    margin: 10px;
    padding: 5px;
}

.press-link:hover{
    background-color: var(--offwhite);
    cursor: pointer;
    text-decoration: underline var(---bloo) 2px;
}

/* mobile formatting */
@media (max-width: 700px) {
    .columns {
        flex-direction: column;
    }


    .project-left {
        width: 80%;
        margin: auto;
    }

    .project-right {
        width: 100%;
        margin: auto;
    }


}