/* general format */
:root {
     --primary-bg-color: green;
     --offwhite: #fffbf5;
     --yello: #fff0cd;
     ---bloo: #d3edf1;
     --sand: #d3b29e;
 background-color: var(--sand);
 }

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-weight: 800;
}

h2 {
    text-align: center;
    font-weight: 700;
}

h4 {
    text-align: center;
    font-weight: 600;
}

section {
    min-height: fit-content;
    /* background-color: var(--offwhite); */
    width: 100%;
    left: 0px;
    margin: 0px;
    height: 100%;
}

.section2 {
    margin-top: 50px;
    background-color: var(--sand);
}

img {
    width: 100%;
    aspect-ratio: initial;
}

footer {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

.playheader{
    padding-top: 15px;
    margin-top: 5px;
}

/*nav bar*/
nav {
    display: flex;
    background-color: var(--yello);
    justify-content: center;
    position: fixed;
    top: 0px;
    width: 110%;
    opacity: 100%;
        left: -20px;
}

header{
    height: 40px;
}

.navlink {
    color: black;
    padding: 5px;
    margin: 10px;
    border: 1px var(--sand) solid;
    text-decoration: none;
}

.navlink:hover {
    background-color: var(---bloo);
}

/*bio and headshot section*/
.home {
    display: flex;
    top: 50px;
    position: relative;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap-reverse;
    background-color: var(--offwhite);
    width: 100%;
    left: -20px;
}

.bio {
    width: 60%;
    margin-right: 50px;
}

.headshot {
    width: 30%;
    left: 10px;
    display: flex;
    justify-content: center;
}

.headshotpic {
    max-width: 100%;
    max-height:100%;
    display: block;
    margin: auto;
}

.play-title {
    font-style: oblique;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

/* all the formatting for all the plays! */
.playbox {
    display: flex;
    align-items: center;
    background-color: var(--sand);
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
}

.play {
    /* border: 2px solid var(---bloo); */
    width: 25%;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--yello);
    min-width: 351px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*rectangles  the covers*/
.cover {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* for all images */
.sample-img {
    display: flex;
    background-color: var(--yello);
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: start;
}

.play:hover {
    box-shadow: black 2px 10px 10px;
    background-color: var(--yello);
    /* opacity: 100%; */
}

.play-desc {
    color: black;
    background-color: var(--yello);
    width: 90%;
    font-size: 15px;
    margin-bottom: 0;

}
.teaser {
    color: black;
    background-color: var(--yello);
    width: 90%;
    font-size: 15px;
    font-style: italic;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 2px;

}
.desc-div{
    position: absolute;
        margin-left: 30px;
        margin-right: 30px;
        width: 18%;
        min-width: 345px !important;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
}

.detail-btn{
    background-color: var(--yello);
    margin: 0px;
    border-radius: 4px;
    bottom: 2px;
    position: relative;
    border: none;
}
.detail-btn:hover{
    background-color: var(--sand);

}

.indent {
    margin-left: 10px;
}

.heather{
    font-size: x-small;
    color: var(--sand);
    font-variant: small-caps;
    width: fit-content;
}
.popup {
    position: fixed;
    top: 25%;
    background-color: var(---bloo);
    font-size:xx-large;
    width: 60%;
    height: max-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 2px black solid;
    padding-top: 5px;
}
.close-btn {
    font-size: medium;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    border: 1px black solid;
    border-radius: 5px;
}
.close-btn:hover{
    background-color: var(--sand);
}
.email{
    color: black;
    text-decoration: none;
}

.contactInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.contact-div{
    display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
}

.socials-box{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.a-social{
    display: flex;
    flex-direction: column;
}
.email:hover{
    background-color: var(---bloo);
    text-decoration: solid black 1px;

}
.social-icon {
    width: 50px;
    height: 50px;
}

.social-icon:hover{
    box-shadow: var(---bloo) 2px 5px 5px;
background-color: var(---bloo);
border-radius: 10px;
}
    
.socials-text{
    font-size: x-small;
}

/* mobile formatting */
@media (max-width: 700px) {
    .home {
        flex-direction: row;
    }
    .headshot {
        width: 200px;
        margin: auto;
    }
    .bio{
        width: 100%;
        margin: auto;
    }


}
