/* general format */
:root {
     --primary-bg-color: green;
     --offwhite: #fffbf5;
     --yello: #fff0cd;
     ---bloo: #d3edf1;
     --sand: #d3b29e;

 }

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-weight: 800;
}

h2 {
    text-align: center;
    font-weight: 700;
}

h4 {
    text-align: center;
    font-weight: 600;
}

section {
    min-height: fit-content;
}

.section2 {
    margin-top: 50px;
}

img {
    width: 100%;
    aspect-ratio: initial;
}

footer {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
}

/*nav bar*/
nav {
    border: 1px;
    display: flex;
    background-color: var(--sand);
    justify-content: center;
    position: fixed;
    top: 0px;
    width: 100%;
    opacity: 100%;
}

.navlink {
    color: black;
    padding: 5px;
    margin: 10px;
    border: 1px var(--yello) solid;
    text-decoration: none;
}

.navlink:hover {
    background-color: var(---bloo);
}

/*bio and headshot section*/
.home {
    display: flex;
    top: 50px;
    position: relative;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.bio {
    width: 60%;
    margin-right: 50px;
}

.headshot {
    width: 30%;
    left: 10px;
    display: flex;
    justify-content: center;
}

.headshotpic {
    max-width: 100%;
    max-height:100%;
    display: block;
    margin: auto;
}

.play-title {
    font-style: oblique;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

/* all the formatting for all the plays! */
.playbox {
    display: flex;
    align-items: center;
    background-color: var(--yello);
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
}

.play {
    border: 2px solid var(---bloo);
    width: 35%;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--sand);
    min-width: 351px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*rectangles  the covers*/
.cover {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* for all images */
.sample-img {
    display: flex;
    background-color: var(--sand);
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: start;
}

.play:hover {
    box-shadow: black 2px 10px 10px;
    background-color: var(---bloo);
    opacity: 70%;
}

.play-desc {
    color: black;
    background-color: var(---bloo);
    position: absolute;
    margin: 2px;
    padding: 2px;
    width: 34%;
    min-width: 345px !important;
    margin-top: 15px;
}

.quote {
    font-style: oblique;
}

.indent {
    margin-left: 10px;
}

.heather{
    font-size: x-small;
    color: var(--sand);
    font-variant: small-caps;
    width: fit-content;
}

/* mobile formatting */
@media (max-width: 700px) {
    .home {
        flex-direction: row;
    }
    .headshot {
        width: 200px;
        margin: auto;
    }
    .bio{
        width: 100%;
        margin: auto;
    }


}